[Unit]
Description=CLIC: CLuster In the Cloud
After=network.target

[Service]
ExecStart=PATH CLOUD USER NAMESCHEME

[Install]
WantedBy=multi-user.target
